.nav {
    grid-area: n;
    background-color: chartreuse;
    display: grid;
    grid-template-rows: 4fr 6fr;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.friendAva {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 5px 10px;
}

.friendDesc, .title {
    text-align: center;
}
